@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overscroll-behavior: none;
  height: 100vh !important;
  width: 100vw !important;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#__next {
  height: 100%;
  width: 100%;
}

@layer utilities {
  .gradient-eco {
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, #10b981, #22c55e, #84cc16);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
  .gradient-text {
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, #3b82f6, #22d3ee, #10b981);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
  .gradient-circle {
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, #3b82f6, #22d3ee, #10b981);
    background-size: 100%;
    color: white !important;
    clip-path: circle(24px at center);
    -webkit-clip-path: circle(24px at center);
  }
  /*
    adds padding to account for potential notch and home indicator when running as a PWA
    note: if you're messing with things and think you need to add !important, 
    you're probably doing something wrong (specificity should be enough).
  */
  .pt-safe {
    padding-top: env(safe-area-inset-top, 0);
  }
  .pr-safe {
    padding-right: env(safe-area-inset-right, 0);
  }
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom, 0);
  }
  .pl-safe {
    padding-left: env(safe-area-inset-left, 0);
  }
  .px-safe {
    @apply pl-safe pr-safe;
  }
  .py-safe {
    @apply pt-safe pb-safe;
  }
  .p-safe {
    @apply px-safe py-safe;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
